<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales and Inventory Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
</head>

<body class="main-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-container">
        {% for category, message in messages %}
        <div class="flash {{category}}">
            {{message}}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="page-title">
        <h1>Our products</h1>
        <a href="/product_add_page" class="primary-button">+ Add product</a>
    </div>
    <div class="section-card">
        <form method="get" action="/products_page">
            <input type="text" name="search" placeholder="Search product">
        </form>
        <table class="dashboard-table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions (admin)</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{product.product_id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}} DA</td>
                <td>{{product.stock}}</td>
                <td><a href="/product_edit_page/{{product.product_id}}">✏️</a>
                    <form method="post" action="/product_delete/{{product.product_id}}"
                        onsubmit="return confirm('are you sure?')">
                        <input type="hidden" name="product_id" value="{{product.product_id}}">
                        <button type="submit">🗑️</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <aside class="sidebar">
        <div class="sidebar-title">Stock app</div>
        <nav class="sidebar-nav">
            <a href="/dashboard_page" class="sidebar-item">
                📋Dashboard
            </a>
            <a href="/products_page" class="sidebar-item active">
                🧺Products
            </a>
            <a href="/stock_page" class="sidebar-item">
                📦Stock
            </a>
            <a href="/sales_page" class="sidebar-item">
                🛒Sales
            </a>
            <a href="/users_page" class="sidebar-item">
                🔑Users (admin)
            </a>
        </nav>
        <div class="user-profile">
            <div class="user-avatar">
                {{current_user.name[0]|upper}}
            </div>
            <div class="user-info">
                <strong>{{current_user.name}}</strong>
                <small>{{current_user.role}}</small>
            </div>
        </div>
        <form method="post" action="/logout" class="sidebar-logout">
            <button>👋Logout</button>
        </form>
    </aside>
</body>

</html>